@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme default values */
:root {
  --tg-theme-bg-color: theme('colors.white');
  --tg-theme-text-color: theme('colors.gray.900');
  --tg-theme-hint-color: theme('colors.gray.600');
  --tg-theme-link-color: theme('colors.fuchsia.500');
  --tg-theme-button-color: theme('colors.indigo.500');
  --tg-theme-button-text-color: theme('colors.white / 80%');
  --tg-theme-secondary-bg-color: theme('colors.gray.100');
  --tg-theme-header-bg-color: theme('colors.white');
  --tg-theme-accent-text-color: theme('colors.pink.700');
  --tg-theme-section-bg-color: theme('colors.white');
  --tg-theme-section-header-text-color: theme('colors.pink.500');
  --tg-theme-subtitle-text-color: theme('colors.pink.700');
  --tg-theme-destructive-text-color: theme('colors.rose.500');
}
