@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme default values */
:root {
  --tg-theme-bg-color: theme('colors.white');
  --tg-theme-text-color: theme('colors.gray.900');
  --tg-theme-hint-color: theme('colors.gray.600');
  --tg-theme-link-color: theme('colors.fuchsia.500');
  --tg-theme-button-color: theme('colors.indigo.500');
  --tg-theme-button-text-color: theme('colors.white / 80%');
  --tg-theme-secondary-bg-color: theme('colors.gray.100');
  --tg-theme-header-bg-color: theme('colors.white');
  --tg-theme-accent-text-color: theme('colors.pink.700');
  --tg-theme-section-bg-color: theme('colors.white');
  --tg-theme-section-header-text-color: theme('colors.pink.500');
  --tg-theme-subtitle-text-color: theme('colors.pink.700');
  --tg-theme-destructive-text-color: theme('colors.rose.500');
}

/* Page loading spinner */
#page-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tg-theme-bg-color);
  z-index: 9999;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--tg-theme-accent-text-color) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
